<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title ">Annuity Table</h4>
            <a (click)="createAnnuityCustomer()" class="float">
              <i class="fa fa-plus my-float"></i>
            </a>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <tr>
                    <th *ngFor="let head of headElements" scope="col">{{head}} </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let client of customers" (click)="UpdateStore(client.entityId)" class="tableRow">
                    <td>{{client.entityFullName}}</td>
                    <td>{{client.entityId}}</td>
                    <td>{{client.annuityAmount | currency:' R'}}</td>
                    <td>{{client.startDate | date}}</td>
                    <td>{{client.anniversaryDate | date}}</td>
                    <td>{{client.renewalDate | date}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
