<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8" style="margin: auto;">
        <div class="card">
          <div class="card-header card-header-pills table-header">
            <h4 class="card-title">Maintainance Customer</h4>
            <p class="card-category">Complete Record</p>
          </div>
          <div class="card-body">
            <form #formData='ngForm'>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Entity ID" type="text" [(ngModel)]="customer.entityId" name="entityId">
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Full Name" type="text" [(ngModel)]="customer.entityFullName" name="entityFullName">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
              </div>
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field>
                    <select matNativeControl required ngModel (ngModelChange)="productSelected($event)" name="product">
                      <option value="" disabled>Products</option>
                      <option *ngFor="let product of products" class="ng-tns-c28-8" [ngValue]="product">{{product.name}}</option>
                    </select>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field>
                  <select  matNativeControl required ngModel (ngModelChange)="categorySelected($event)" name="category">
                    <option value="" disabled>Product Category</option>
                    <option *ngFor="let category of categories" class="ng-tns-c28-8" [ngValue]="category">{{category.name}}</option>
                  </select>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field>
                    <select matNativeControl required ngModel name="item">
                      <option value="" disabled>Item</option>
                      <option *ngFor="let item of items" class="ng-tns-c28-8" [ngValue]="item">{{item.name}}</option>
                    </select>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                  <div class="col-md-3">
                  <mat-form-field>
                    <input matInput placeholder="Start Date" [matDatepicker]="startDate" [(ngModel)]="customer.startDate" name="startDate">
                    <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                    <mat-datepicker #startDate></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-md-3">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Quantity" type="text" [(ngModel)]="customer.quantity" name="quantity">
                  </mat-form-field>
                </div>
                <div class="col-md-3">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Unit Price" type="text" [(ngModel)]="customer.unitPrice" name="unitPrice">
                  </mat-form-field>
                </div>
                <div class="col-md-3">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Value" type="text" [(ngModel)]="customer.value" name="value">
                  </mat-form-field>
              </div>
              </div>
              <button mat-raised-button type="submit" class="btn primary-button pull-right" (click)="onSubmit(formData)">Create
                Record</button>
              <button mat-raised-button type="submit" class="btn btn-danger pull-right">Clear
                Record</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
