<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8" style="margin: auto;">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Login</h4>
            <p class="card-category">Complete Record</p>
          </div>
          <div class="card-body">
            <form #formData='ngForm'>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email" type="email" ngModel name="Email">
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Password" type="password" ngModel name="Password">
                  </mat-form-field>
                </div>
              </div>
              <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="Register()">Register</button>
              <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="onSubmit(formData)">Login</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
