<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8" style="margin: auto;">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Customer</h4>
            <p class="card-category">Complete Record</p>
          </div>
          <div class="card-body">
            <form #formData='ngForm'>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field>
                    <select matNativeControl required [(ngModel)]="client.customer" name="customer">
                      <option value="" disabled>Customer</option>
                      <option value="Absa">Absa</option>
                      <option value="Inteleqt">Inteleqt</option>
                      <option value="Vodacom">Vodacom</option>
                    </select>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field>
                    <input matInput placeholder="birthday" [matDatepicker]="birthday" [(ngModel)]="client.birthday" name="birthday">
                    <mat-datepicker-toggle matSuffix [for]="birthday"></mat-datepicker-toggle>
                    <mat-datepicker #birthday></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Contact Person" type="text" [(ngModel)]="client.contactPerson" name="person">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Account Manager" type="text" [(ngModel)]="client.accManager" name="accMan">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="License Key" type="text" [(ngModel)]="client.licenceKey" name="licence">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field>
                  <select matNativeControl required [(ngModel)]="client.productCategory" name="productCategory">
                    <option value="" disabled>Product Category</option>
                    <option value="Exisiting Qlik Sense">Exisiting Qlik Sense</option>
                    <option value="Production Sites">Production Sites</option>
                    <option value="Qlik Sense">Qlik Sense</option>
                  </select>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field>
                    <select matNativeControl required [(ngModel)]="client.product" name="product">
                      <option value="" disabled>Product</option>
                      <option value="QlikView">QlikView</option>
                    </select>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field>
                    <select matNativeControl required [(ngModel)]="client.item" name="item">
                      <option value="" disabled>Item</option>
                      <option value="Qlik Sense Enterprise">Qlik Sense Enterprise</option>
                      <option value="Qlik Sense Production">Qlik Sense Production</option>
                    </select>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Street Adress" type="text"[(ngModel)]="client.streetAddress" name="sttr">
                  </mat-form-field>
                </div>
                <div class="col-md-3">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Surburb" type="text" [(ngModel)]="client.surburb" name="surburb">
                  </mat-form-field>
                </div>
                <div class="col-md-3">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Town" type="text" [(ngModel)]="client.town" name="town">
                  </mat-form-field>
                </div>
                <div class="col-md-3">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="City" type="text" [(ngModel)]="client.city" name="city">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Province" type="text" [(ngModel)]="client.province" name="province">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Country" type="text" [(ngModel)]="client.country" name="country">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Postal Code" type="text" [(ngModel)]="client.postalCode" name="postalCode">
                  </mat-form-field>
                </div>
              </div>
              <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="onSubmit()">Create Record</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
